button.primary {
  display: flex;
  align-self: flex-end;
  background-color: #2e51a2;
  border: none;
  border-radius: 5px;
  padding: 15px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
  transition: all 0.4s ease-in-out;
  color: #ffffff;
}

button.primary:hover {
  background-color: #000;
  cursor: pointer;
}
